

h1,h2,h3,h4,h5,h6{
    color: theme('colors.primary');
    font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-size: 1.10rem;;
}

h3{
    @apply text-sm;
}

p,a{
    @apply text-sm text-primary;
}